streamlit
uvicorn
fastapi
python-dotenv
langchain_groq
langgraph
ipython
langchain_community
feedparser
sentence_transformers
pytest
deepeval
openai
langsmith
einops
guardrails-ai
torch
torchvision
torchaudio